name: build_headless_packages

on:
  push:
    branch-ignore:
      - '*'
    tags:
      - 'v?\d+.\d+.\d+-headless'
      - 'headless*'
  # manual trigger
  workflow_dispatch:


jobs:

  call-build-ubuntu:
    uses: ./.github/workflows/headless-ubuntu.yml
  call-build-macos:
    uses: ./.github/workflows/headless-macos.yml
  call-build-windows:
    uses: ./.github/workflows/headless-windows.yml

  # --------------------- #
  # Upload release assets #
  # --------------------- #
  create-release:
    runs-on: ubuntu-latest
    needs: [call-build-ubuntu, call-build-macos, call-build-windows]
    steps:

    - name: Delete previous release
      uses: actions/github-script@v6
      continue-on-error: true
      with:
        script: |
          const { owner, repo } = context.repo
          const { data: { id } } = await github.rest.repos.getReleaseByTag({
            owner,
            repo,
            tag: "${{ github.ref_name }}"
          })
          await github.rest.repos.deleteRelease({ owner, repo, release_id: id })

    - name: Create Release
      uses: actions/github-script@v6
      with:
        script: |
          const { owner, repo } = context.repo
          await github.rest.repos.createRelease({
            owner,
            repo,
            tag_name: "${{ github.ref_name }}",
            name: "Release ${{ github.ref_name }}",
            draft: false,
            prerelease: true
          })

    - name: Fetch all uploaded artifacts
      uses: actions/download-artifact@v4

    - name: Upload Ubuntu Jammy .deb as Release Asset
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        tag: ${{ github.ref }}
        file: ttk-paraview-headless-ubuntu-22.04/ttk-paraview.deb
        asset_name: ttk-paraview-headless-ubuntu-22.04.deb

    - name: Upload Ubuntu Noble Numbat .deb as Release Asset
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        tag: ${{ github.ref }}
        file: ttk-paraview-headless-ubuntu-24.04/ttk-paraview.deb
        asset_name: ttk-paraview-headless-ubuntu-24.04.deb

    - name: Upload MacOS 15 .tar.gz as Release Asset
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        tag: ${{ github.ref }}
        file: ttk-paraview-headless-macos-15/ttk-paraview.tar.gz
        asset_name: ttk-paraview-headless-macos-15.tar.gz

    - name: Upload MacOS 14 .tar.gz as Release Asset
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        tag: ${{ github.ref }}
        file: ttk-paraview-headless-macos-14/ttk-paraview.tar.gz
        asset_name: ttk-paraview-headless-macos-14.tar.gz

    - name: Upload .exe as Release Asset
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        tag: ${{ github.ref }}
        file: ttk-paraview-headless-windows-2022/ttk-paraview.exe
        asset_name: ttk-paraview-headless.exe

    - name: Delete package artifacts
      uses: geekyeggo/delete-artifact@v5
      with:
          name: |
              ttk-paraview-headless*
